[submodule "Deep-Reinforcement-Learning-Algorithms-with-PyTorch"]
	path = Deep-Reinforcement-Learning-Algorithms-with-PyTorch
	url = https://github.com/giuseppe-tanzi/Deep-Reinforcement-Learning-Algorithms-with-PyTorch.git
[submodule "safe-grid-gym"]
	path = safe-grid-gym
	url = https://github.com/PallottaEnrico/safe-grid-gym.git
