numpy~=1.24.3
gym~=0.26.2
matplotlib~=3.7.1
six~=1.16.0
pycolab~=1.2
setuptools~=65.5.1
torch~=2.0.1
omlt~=1.1
Pyomo~=6.6.1
pandas~=2.0.2
Pillow~=9.5.0
absl-py==1.4.0
charset-normalizer==3.0.1
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
idna==.4
kiwisolver==1.4.4
nn-builder==0.0.12
packaging==23.0
pyglet==2.0.5
pyparsing==3.0.9
python-dateutil==2.8.2
PyVirtualDisplay==3.0
requests==2.28.2
scipy==1.10.1
urllib3==1.26.14